@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@layer base {
  /* Fonts. */

  .display {
    font-family: Averia Serif Libre, serif;
    font-weight: 700;
  }

  .interface {
    font-family: Averia Sans Libre, sans-serif;
    font-weight: 300;
  }

  .serif {
    font-family: EB Garamond, serif;
    font-weight: 400;
  }

  .title {
    @apply mt-2 display font-bold;
  }

  .title p {
    @apply p-0 m-0;
  }

  /* Base font. */

  html,
  body {
    @apply interface text-lg xl:text-2xl;
  }

  /* Article font and margin. */

  article {
    @apply mx-auto max-w-screen-md lg:max-w-full serif;
  }

  /* Heading sizes. */

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    @apply font-bold display;
    @apply pb-2 leading-snug;
  }

  .font-size-1 {
    @apply text-4xl lg:text-8xl;
  }

  .font-size-2 {
    @apply text-3xl lg:text-6xl;
  }

  .font-size-3 {
    @apply text-2xl lg:text-4xl;
  }

  .font-size-base {
    @apply text-base lg:text-2xl;
  }

  .font-size-sm {
    @apply text-sm lg:text-base;
  }

  .font-size-base {
    @apply text-xs lg:text-sm;
  }

  h1, .h1 {
    @apply font-size-1;
  }

  h2, .h2 {
    @apply font-size-2;
  }

  h3, .h3 {
    @apply font-size-3;
  }

  h4, .h4 {
    @apply font-size-base;
  }

  h5, .h5 {
    @apply font-size-sm;
  }

  h6, .h6 {
    @apply font-size-base;
  }

  /* Link styling. */

  .underline {
    text-decoration: underline;
  }

  .decoration-color-inherit {
    text-decoration-color: inherit;
  }

  /* Underline links. */

  a {
    @apply underline;
  }

  /* If the user can hover, transition in by default. */

  @media (hover: hover) {
    a {
      transition: 300ms;
      text-decoration: underline;
      text-decoration-color: transparent;
    }

    a:hover {
      text-decoration-color: inherit;
    }
  }

  /* Always display the underline in articles. */

  article a {
    @apply underline decoration-color-inherit;
  }

  article h1,
  article h2,
  article h3,
  article h4 {
    @apply mb-6;
  }

  /* Standard spacing. */

  .content-block {
    @apply mb-12;
  }

  /* Automatically apply content-block spacing to standard elements. */

  p,
  ul,
  ol,
  pre,
  blockquote,
  article .katex-display {
    @apply content-block;
  }

  /* Fancy first letter. */

  article .post-body > p:first-child::first-letter {
    @apply text-8xl font-bold;
  }

  /* Code block styling. */

  .code-block {
    @apply mx-auto text-xs md:text-sm lg:text-base;
    /* 80 characters wide. */
    max-width: 80ch;
  }

  /* Math block styling. */

  .math-inline {
    @apply mx-2;
    font-size: inherit;
  }

  blockquote, img, pre {
    border-radius: 8px;
  }

  /* Blockquotes */

  blockquote {
    @apply italic font-size-sm max-w-md mx-auto p-4;
    background-color: rgba(0, 0, 0, 0.06);
  }

  blockquote p {
    @apply mb-6;
  }

  blockquote p:last-child {
    @apply mb-0;
  }

  /**
   * Below rules will not be purged, i.e. they will be applied to content which
   * is generated after render.
   */
  /* purgecss start ignore */

  /**
   * Everything inside of <a> elements should inherit underline state. Pass to
   * LaTeX.
   */
  a > *,
  a span.math,
  a span.math span.katex,
  a span.math span.katex span.katex-html,
  a span.math span.katex span.katex-html span.base,
  a span.math span.katex span.mspace {
    text-decoration: inherit;
    text-decoration-color: inherit;
  }

  /**
   * LaTeX overrides to get underlines to display correctly.
   */
  a span.math span.katex span.mord.mathnormal,
  a span.math span.katex span.mspace {
    margin: 0 !important;
  }

  a span.math span.katex span.mspace::after {
    content: "\00a0";
  }

  /* Center Tweets horizontally. */

  .twitter-tweet {
    @apply mx-auto;
  }

  /* purgecss end ignore */
}
